@{
	Layout = "AdminLayout";
}
@* <h1>Admin:@ViewBag.Username</h1>  *@
@* <h1>Admin:@ViewBag.UserId</h1>  *@
<head>
    <link href="~/css/style.css" rel="stylesheet" />
</head>

<div>
    <div>
        <div class="banner text-center">
            <img src="~/images/recruitment-banner.webp" alt="Recruitment Management Banner" class="img-fluid">

            <div class="banner-overlay">
                <h1></h1>
                <p>Streamlining your hiring process efficiently and securely.</p>
            </div>
        </div>
    </div>
</div>

