@model RecruitmentManagementSystem.Models.JobCreationsModel

@{
    Layout = "AdminLayout";
}
    
    <form asp-action="DeleteJob">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="AdminIndex">Back to List</a>
    </form>
</div>
