@{
    ViewData["Title"] = "About us";
    Layout = "HomeLayout";
}
<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
</head>
<body>
    <p>
        For any questions or concerns about this policy, please contact us at:
        Email: support@recruitmangementhr.in
        Phone: +91 9856321470
    </p>

    <p>Thank you for trusting our system. We are committed to maintaining your privacy and security.</p>
</body>
</html>
