@{
    ViewData["Title"] = "About Us";
    Layout = "HomeLayout";
}
<h1>@ViewData["Title"]</h1><hr />

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
</head>
<body>
    <center>
        <p>
            For any questions or concerns about this policy, please contact us at<br />
            <strong>Email:</strong> <email>support@recruitmangementhr.in</email> <br />
            <strong>Phone:</strong> +91 9856321470

        <p>Thank you for trusting our system. We are committed to maintaining your privacy and security.</p>
    </center>
    
</body>
</html>
