@{
    ViewData["Title"] = "Home Page";
}

@if (TempData["infoMessage"] != null)
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong>Info: </strong> @TempData["infoMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
else if (TempData["errorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error: </strong> @TempData["errorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
else if (TempData["successMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success: </strong> @TempData["successMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<head>
    <link href="~/css/style.css" rel="stylesheet" />
</head>

<div>
    <div>
        <div>
            <div>
                <h3>About Us</h3>
                <p>Learn about our organization and recruitment system.
                    <a asp-controller="Home" asp-action="AboutUs">About us</a>
                </p>
            </div>
        </div>
        <div>
            <div>
                <h3>Sign In</h3>
                <p>Access your account by entering your username and password.
                    <a asp-controller="Home" asp-action="SignIn">Sign in</a>
                </p>
            </div>
        </div>
        <div>
            <div>
                <h3>Sign Up</h3>
                <p>Create a new account to begin your job application process.
                    <a asp-controller="Home" asp-action="SignUp">Sign up</a>
                </p>
            </div>
        </div>
        <div>
            <div>
                <h3>Contact Us</h3>
                <p>Get in touch with us for any inquiries or support.
                    <a asp-controller="Home" asp-action="ContactUs">Contact us</a>
                </p>
            </div>
        </div>
    </div>
</div>
