<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
	<link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <header class="header">
        <nav>
            <a asp-controller="Admin" asp-action="AdminIndex">Recruitment Management</a>
            <div class="header-right">
                <a asp-controller="Admin" asp-action="AdminIndex">Home</a>
                <a asp-controller="Admin" asp-action="#">Applications</a>
                <a asp-controller="Admin" asp-action="CreateJob">Create job</a>
                <a asp-controller="Admin" asp-action="Candidates">Candidates</a>
                <a asp-controller="Admin" asp-action="AddAdminUser">Add admin</a>
                <a asp-controller="Admin" asp-action="Settings">Settings</a>
                <a asp-controller="Admin" asp-action="ViewJobs">View jobs</a>
                <a asp-controller="Admin" asp-action="Logout">Logout</a>
            </div>
        </nav>
    </header>

    <main role="main" class="container">
        @RenderBody()
    </main>

    <footer class="footer">
        &copy; 2024 Recruitment Management System
        Made with ❤️ in .NET
    </footer>
</body>
</html>
