<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
	<link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <header class="header">
        <nav>
            <a asp-controller="Candidate" asp-action="CandidateIndex"><img src="~/images/recruitlogo.webp" /></a>
            <a asp-controller="Candidate" asp-action="Index">Recruit Queue</a>
            <div class="header-right">
                <a asp-controller="Candidate" asp-action="CandidateIndex">Home</a>
                <a asp-controller="Candidate" asp-action="MyApplications">My applications</a>
                <a asp-controller="Candidate" asp-action="Applications">View jobs</a>
                <a asp-controller="Candidate" asp-action="Settings">Settings</a>
                <a asp-controller="Candidate" asp-action="MyProfile">My profile</a>
                <a asp-controller="Candidate" asp-action="EditProfile">Edit profile</a>
                <a asp-controller="Candidate" asp-action="Logout">Logout</a>
            </div>
        </nav>
    </header>

    <main role="main" class="container">
        @RenderBody()
    </main>

    <footer class="footer">
        &copy; 2024 Recruitment Management System
        <a class="bg-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        Made with ❤️ in .NET
    </footer>
</body>
</html>
