<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Recruit"]</title>
	<link href="~/css/style.css" rel="stylesheet" />
	<script src="~/js/validations.js"></script>
</head>
<body>
    <header class="header">
        <nav>
            <a asp-controller="Home" asp-action="Index"><img src="~/images/recruitlogo.webp" /></a>
            <a asp-controller="Home" asp-action="Index">Recruit Queue</a>
            <div class="header-right">
                <a asp-controller="Home" asp-action="Index">Home</a>
                <a asp-controller="Home" asp-action="AboutUs">About us</a>
                <a asp-controller="Home" asp-action="SignIn">Sign in</a>
                <a asp-controller="Home" asp-action="SignUp">Sign up</a>
                <a asp-controller="Home" asp-action="ContactUs">Contact us</a>
            </div>
        </nav>
    </header>

    <main role="main" class="container">
        @RenderBody()
    </main>

    <footer class="footer">
        &copy; 2024 Recruitment Management System
        <a class="bg-light" asp-area="" asp-controller="Home" asp-action="Aboutus">Info</a>
        Made with ❤️ in .NET
    </footer>
</body>
</html>
