@model RecruitmentManagementSystem.Models.ApplicationModel
@{
    Layout = "CandidateLayout";
}

<h1>Apply for Job</h1>

<div class="form-container">
    <div>
        <form asp-action="ApplyforJob" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div>
                <label asp-for="ResumeFile" class="control-label">Upload Resume (PDF)</label>
                <input asp-for="ResumeFile" type="file" id="resume" name="ResumeFile" class="form-control" required />
                <span asp-validation-for="Resume" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="ProfilePhoto" class="control-label">Upload Profile Photo (JPEG/PNG)</label>
                <input asp-for="ProfilePhoto" type="file" id="photo" name="ProfilePhoto" class="form-control" required />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>

            <div>
                <input type="submit" value="Submit Application" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <a asp-action="Applications">Back to Job List</a>
        </div>
    </div>
</div>




