@model RecruitmentManagementSystem.Models.Users

@{
    Layout = "CandidateLayout";
}
<h2>Settings</h2>
@if (TempData["successMessage"] != null)
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong> </strong> @TempData["successMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@Html.ActionLink("Change Password", "ChangePassword", "Candidate")
<hr/>
@Html.ActionLink("Edit Profile", "EditProfile", "Candidate")

